<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShockRouter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ShockRouter.Properties.Settings>
            <setting name="AudioInput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChartShowURL" serializeAs="String">
                <value />
            </setting>
            <setting name="ObURL" serializeAs="String">
                <value />
            </setting>
            <setting name="EmergencyFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Processor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DetectorTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ClockIP" serializeAs="String">
                <value />
            </setting>
        </ShockRouter.Properties.Settings>
    </userSettings>
</configuration>